/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/

.resq-new-window{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(43, 40, 40);
}
.resq-wrapper {
  margin-top: 0px;
  margin-left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(43, 40, 40);
}
.resq-banner{
  position: relative;
  margin-top: 0px;
  height: 70px;
  width: 100%;
  background-color: rgb(43, 40, 40);
}

.resq-logo {
  margin-left:  0px;
  margin-top:  0px;
  padding: 0;
  height: 100%;
  width:300px;
  color: white;
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  background-color: rgb(43, 40, 40);
 
}
.resq-disastertype,
.resq-daterange{
  margin-top: -60px;
  padding: 0;
  height: 100%;
  background-color: rgb(43, 40, 40);
}
.resq-daterange{
  margin-top: -70px;
  margin-left: 300px;
  width:300px;

}
.resq-disastertype{
  margin-top: -70px;
  margin-left: 600px;
  width:700px;
}
.disaster-type-header,
.date-range-header{
  width: 300px;
  text-align: left;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
}

.disaster-type-button-group,
.date-range-button-group{
  display: inline-block;
  clear: left;
  text-align: left;
  width:700px;
}

.one-month-button,
.one-week-button,
.earthquake-button,
.flood-button,
.all-button,
.storm-button,
.humanitarian-button
{
  height: 35px;
  background-color: rgb(43, 40, 40);
  font-size: 1em;
  outline-color: aliceblue;
  outline-style: ridge;
  outline-width: .1ch;
  width: 130px;
}
  .one-month-button{
    color: rgb(156, 96, 196);
  }
  .one-week-button{
    color: rgb(156, 96, 196);
  }
  .all-button{
  color: white;
  }
  .earthquake-button{
  color: yellow;
  }
  .flood-button{
  color: blue;
  }
  .storm-button{
  color: orangered;
  }
  .humanitarian-button{
  color: green;
  }

  .one-month-button:hover,
  .one-month-button:active,
  .one-week-button:hover,
  .one-week-button:active,
  .all-button:hover,
  .all-button:active,
  .earthquake-button:hover,
  .earthquake-button:active,
  .flood-button:hover,
  .flood-button:active,
  .storm-button:hover,
  .storm-button:active,
  .humanitarian-button:hover,
  .humanitarian-button:active
  {
    color: white;
    outline-color: rgb(43, 40, 40);
 }




/* 
.enter-location,
.from-date,
.to-date{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
} */
/* .date-input-group, */


/* .enter-location-group
{
  display: inline-block;
  clear: left;
  text-align: left;
  width:400px;
} */
/* .input{
  background-color: rgb(43, 40, 40);
  outline-color: aliceblue;
  outline-style: ridge; 
  outline: .02ch;
  font-size: .8rem;
  color: white;
  width: 110px;
} */




  
   /* .resq__location{
  
    margin-left: 480px;
    margin-top: -60px;
    padding: 0;
    width:330px;
    height: 60px;
    background-color:  rgb(43, 40, 40);  
  } */

/* .cell-header{
  margin-left: 100px;
  margin-top:  -60px;
  padding: 0;
  width:300px;
  height: 30px;
  text-align: center;
  align-content: center;
  align-items: center;
  display: inline-block;
 
  display: inline-flex;
  position: relative;
  
  } */
  /* .cell-value{
  margin-left:0px;
  width: 100px;
  text-align: center;
  align-content: center;
  align-items: center;
  color: rgb(231, 67, 67);
  display: inline-block;
  padding: 0px;
  display: inline-flex;
  position: relative;
  } */
/* .resq-card-banner{
  
  margin-top: 0;
  color: #fa923f;
  text-decoration: none;
  height: 50px;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  background-color: white;
} */
/* .cellrow{
margin-left:300px;
margin-top: 0;
padding: 0;
height: 25px;
width: 600px;

} */

/* .resq-card-header{
  margin: 0; 
  color: #fa923f;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
} */
/* .resq-card{
    align-self: center;
    margin: 5%;
    height: 70%;
    width: 90%; 
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    
} */
/* .resq-right-side-signbox{
  margin-left: 950px;
  margin-top: 70px;
  
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
} */
/* .resq-right-side-banner{
  margin-left: 950px;
  margin-top: 300px;
  padding: 0;
  display: flex;
  position: fixed;
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
} */


