.panel-container {
    margin:100px;
    width: 75%;
    height: 550px;
  }
  .panel-inner-lower-container {
    width: 100%;
    height: 24%;
    background-color: black;
    display: inline-block;
   
  }
  .panel-inner-upper-container {
    width: 100%;
    height: 74%;
    background-color: transparent;
    display: inline-block;
  }
  .panel-inner-upper-right-pie-panel{
    margin-top: 0;
    width: 40%;
    height: 120%;
    display: inline-block;
    background-color: rgb(172, 33, 33);
  } 
  .panel-inner-upper-left-button-panel{
    width: 60%;
    height: 100%;
    display: inline-block;
    background-color: rgb(172, 33, 33);
    /* background-color: rgb(41, 40, 40); */
  }


  /*  TOTAL MENTIONS*/
  .panel-total-mention{
    width: 100%;
    height: 100px;
    background-color: transparent;
  }
  .total-mention{
    margin-left:40px;
    margin-top: 35px;
    width: 200px;
    height: 70px;
    vertical-align: 1cm;
    text-align: center;
    background-color: black;
  }
  .total-mention-label{
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(167, 150, 150);
  }
  .total-mention-value{
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  /*  TOTAL MENTIONS*/


/*  OVERALL MENTIONS*/
  .panel-total-mention-label{
    width: 100%;
    height: 30px;
    background-color: transparent;
  }
  .overall-mention-label{
    margin-left:40px;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(167, 150, 150);
  }
  /*  OVERALL MENTIONS*/


/* OVERALL MENTIONS BUTTONs */
  .panel-overall-mention{
    width: 100%;
    height: 0px;
    background-color: transparent;
  }
  .blog-button-div
  {
    margin-left:40px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 230px;
    height: 70px;
    display: inline-block;
    position: absolute;
    background-color: rgb(221, 129, 129);
  }
  .forum-button-div{
    margin-left:340px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 230px;
    height: 70px;
    display: inline-block;
    position: absolute;
    background-color: rgb(164, 235, 170);
  }
  .twitter-button-div{
    margin-left:40px;
    margin-top: 140px;
    margin-bottom: 10px;
    width: 230px;
    height: 70px;
    display: inline-block;
    position: absolute;
    background-color: rgb(152, 183, 230);
  }
  .news-button-div{
    margin-left:340px;
    margin-top: 140px;
    margin-bottom: 10px;
    width: 230px;
    height: 70px;
    display: inline-block;
    position: absolute;
    background-color: rgb(236, 235, 150);
  }

  .blog-button,
  .forum-button,
  .twitter-button1,
  .news-button{
    margin-bottom: 10px;
    width: 20px;
    height: 70px;
    display: inline-block;
    position: absolute; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    text-align: start;
    color: white;
    
  }
  .blog-button:hover,
  .forum-button:hover,
  .twitter-button1:hover,
  .news-button:hover{
    -webkit-transition: width 2s; 
    transition: width 2s;
  } 
  .blog-button:hover{
    width: 50px;
    background-color: rgba(247, 39, 39, 0.945);
  }
  .forum-button:hover{
    width: 100px;
    background-color: rgb(0, 228, 19);
  }
  .twitter-button1:hover{
    width: 200px;
    background-color: rgb(1, 40, 100);
  }
  .news-button:hover{
    width: 200px;
    background-color: rgb(243, 227, 0);
  }
  /* .percentage-label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    color: white; 
  } */
  .label-div{
    margin-left:90px;
    width: 120px;
    height: 70px;
    display: inline-block;
    position: absolute;
    background-color: transparent;
  }
  .total-value-label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    color: white; 
  }
  .button-label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: white; 
  }
/* OVERALL MENTIONS BUTTONs */


/* LOWER PANEL */
.overall-sentiment-div{
  width: 70%;
  height: 100%;
  background-color: transparent;
  display: inline-block;
}
.overall-sentiment-label-div{
  width: 70%;
  height: 30%;
  margin-left: 40px;
  vertical-align: 1cm;
  text-align: left;
}
.overall-sentiment-label{
  font-size: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(167, 150, 150);
}
 .sentiment-bar{
   width: 800px;
   height: 20px;
   margin-left: 40px;
   margin-top: 0px;
   display: inline-block;
   background-color: rgba(85, 80, 80, 0.6);
 }
 .negative1{
  display: inline-block;
  position: absolute;
  margin-left: 0px;
  width: 10px;
  height: 20px;
  background-color: rgba(113, 196, 80, 0.959);
 }
 .positive{
  display: inline-block;
  position: absolute;
  margin-left:790px;
  width: 10px;
  height: 20px;
  background-color: rgba(54, 139, 235, 0.911);
 }
 .neutral{
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 20px;
  background-color: transparent;
 }
 .negative1:hover,
 .positive:hover {
  -webkit-transition: width 2s; 
  transition: width 2s;
}
.negative1:hover{
  width: 100px;
  background-color: rgba(113, 196, 80, 0.959);
 }
 .positive:hover {
  width: 100px;
  background-color: rgba(54, 139, 235, 0.911);
}
.percentage-div{
  width: 100%;
  height: 50%;
  margin-left:40px;
  background-color: transparent;
}
.negative-percentage,
.positive-percentage,
.neutral-percentage{
  display: inline-block;
  vertical-align: 1cm;
  text-align: center;
  width:33%;
  font-size: 2em;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 .description-div{
  display: inline-block;
  position: absolute;
  width: 30%;
  height: 100%;
 }
 .description-label{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  color: white; 
 }
 
   


 